[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pgcli = "==2.1.1"
psycopg2-binary = "*"
pre-commit = "*"
install = "*"
django-crispy-forms = "*"
django-allauth = "==0.41.0"
pillow = "==6.2.1"

[requires]
python_version = "3.8"
